*{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body {
    height: 100vh;
}

#gameBox {
    text-align: center;
    background-color: #283547;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.headerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 10vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.25); /* need to change */
}

#gameCanvas {
    border: 5px solid silver;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.25); /* need to change */
}

#scoreCounter, #highScoreCounter{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.element {
    display: inline-block;
    width: 275px;
    height: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .elementI {
    display: inline-block;
    width: 25%;
    height: 50%;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.25); /* need to change */
  }

  .radio{
    margin-top: 20px;
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.25); /* need to change */
    border: 2px solid silver;
}

.radio__input{
    display: none;
}

.radio__label{
    padding: 10px 25px;
    font-size: 15px;
    /* dont-family */
    cursor: pointer;
    background: #202C37;
    transition: background 0.1s;
}

.radio__label:not(:last-of-type){
    border-right: 2px solid silver;
}

.radio__input:checked + .radio__label {
    background: silver;
    color: #283547; 
}

